<div class="d-flex align-items-center my-5">
    <div class="card col-12 col-md-10 col-lg-8 col-xl-6 mx-auto p-3">
        <div class="card-head pb-0">
            <img src="https://image.freepik.com/foto-gratis/chica-posando-gafas-sol_1153-1985.jpg"
                class="card-img-top" alt="Imagen de un perfil">
        </div>
        <div class="p-0 d-flex justify-content-around fila-iconos-selector">
            <p class="mb-0"><a href="#"><i class="fas fa-heart fa-7x color-propio"></i></a></p>
            <p class="mb-0"><a href="#"><i class="fas fa-times fa-7x text-info"></i></a></p>
        </div>
        <div class="card-body pb-0 pt-5">
            <div class="row m-0 p-0">
                <h2 class="card-title col-6 text-left">Perfil 1</h2>
                <h3 class="card-title col-6 text-right">22 años</h3>
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorem, laborum laudantium sed reiciendis magni id quidem necessitatibus
                praesentium exercitationem hic omnis aliquam alias modi tenetur possimus.
                Ex impedit nam quod!</p>
        </div>
    </div>
</div>
