<div class="container-fluid p-0 contenedor-titulo">
    <h1 class="text-center py-5 mb-0">Mira todos tus <span><i class="fas fa-comments color-propio"></i></span></h1>
</div>

<div class="py-5 my-2 text-center">
        <p><i class="fas fa-snowplow fs-5 color-propio"></i></p>
    <p class="display-4 pt-3">En construcción...</p>
    <p class="h3 text-lmuted">Estamos trabajando duro para que puedas disfrutar de la mejor experiencia en <span class="color-propio font-weight-bold">lucatinder</span>.</p>
    <p><a href="#" class="h4 text-info">¡Sigue conociendo nuevos usuarios!</a></p>
</div>
