<footer class="row m-0 p-0 bg-dark text-center text-white d-flex align-items-center py-4">
  <p class="col-12 col-lg-4 h4">Jorge <span class="color-propio">|</span> Jesús <span class="color-propio">|</span> Joaquín</p>
  <div class="col-12 col-lg-4 py-4 py-lg-0"><a class="nav-link p-lg-0" routerLink="/" routerLinkActive="active"><img src="../../../assets/img/logo.png" class="img-fluid col-4" /></a></div>
  <p class="col-12 col-lg-4 h4">Lucatic <span class="color-propio">|</span> Madrid <span class="color-propio">|</span> 2019</p>
</footer>